.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.pink {
	background-color: pink;
}
.green {
	background-color: green;
}
h4 {
	text-align: center;
	padding: 5px;
}
.text-center {
	text-align:left;
}